.navbar {
  background-color: #2BC45F;
  overflow: hidden; 
}

.navbar a {
  float: left; 
  display: block; 
  color: green;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none; 
  font-family: Arial, sans-serif;
}

.navbar a:hover {
  background-color: #ddd; 
  color: darkgreen;
}

